@page
@using Helix.CabUpgrade.Utils
@using Helix.CabUpgrade.Utils.Enums
@model CabUpgradeModel
@{
    ViewData["Title"] = "Cab Upgrade";
}

<div class="text-center">
    <h1 class="display-4">Cab Upgrade</h1>
</div>
<div>
    <p>
        This tool can be used to upgrade the legacy cab blocks in Helix patches that were built before Firmware 3.50 to the new Helix cabs! <br />
        It supports patches containing:
        <ul>
            <li>Multiple Single, Dual and Amp&Cab legacy blocks</li>
            <li>Blocks on different DSPs</li>
            <li>Blocks on split paths</li>
            <li>Cab parameters controlled by Snapshots</li>
        </ul>
        Support for bass cabs is not currently guaranteed. <br /><br />
        <b>Guide:</b>Export your helix preset from HX Edit and use the Choose File button at the bottom of the page to choose your .hlx file then press Submit.<br /> 
        Your updated preset will be downloaded. Finally, import the updated preset into HX Edit.
    </p>
</div>
<div class="text-left">
    <br />
    <div class="alert-success">
        <p>
            <b>Info</b><br />
            Some cabs were removed in 3.50. If your preset uses a cab which is not in the new Helix firmware, you need to choose a new cab to migrate to. <br />
            Please choose a Primary/Secondary target cab override using the drop downs to migrate to a new cab model.<br />
            The selected override cabs will be used if there is no corresponding new cab, or if Force Override is ticked.<br />
            If there is a matching new cab, and Force Override is not ticked, your cab will be updated to the matching new model.<br />
            If you don't choose an override cab, you may see an error attempting to map the cab if there is no corresponding new model.<br />
            You can force your legacy cab to migrate to a completely different new cab model by ticking the 'Force override' checkbox.<br />
        </p>
    </div>
    <br /><br />
</div>
<div class="text-center">
    <form method="post" enctype="multipart/form-data">
        <div>
            <table border="1px" width="100%">
                <tbody>
                    <tr>
                        <th style="border-right: 1px solid #333" width="50%">Primary Cab<br />(Single Cab blocks/First cab of dual cab blocks/Amp&Cab blocks)</th>
                        <th width="50%">Secondary Cab<br />(Second cab of dual cab blocks)</th>
                        
                    </tr>
                    <tr>
                        <td style="border-right: 1px solid #333">
                            <div>
                                <label asp-for="Defaults.SelectedPrimaryCab">
                                    @Html.DropDownListFor(
                                    m => m.Defaults.SelectedPrimaryCab,
                                        new SelectList(IndexModel.NewCabRepository.GetNewCabs(), "Id", "Name"),
                                        "Select Primary Cab Override"
                                    )
                                </label>
                                <input type="checkbox" asp-for="Defaults.ForceOverridePrimaryCab"> Force override <br />
                                <input type="number" step="0.01" value="1.5" asp-for="Defaults.PositionPrimaryCab" /> Position<br />
                                <select asp-for="Defaults.AnglePrimaryCab">
                                    <option value="0">0 Degrees</option>
                                    <option value="45">45 Degrees</option>
                                </select> Angle
                            </div>
                        </td>
                        <td>
                            <div>
                                <label asp-for="Defaults.SelectedSecondaryCab">
                                    @Html.DropDownListFor(
                                    m => m.Defaults.SelectedSecondaryCab,
                                        new SelectList(IndexModel.NewCabRepository.GetNewCabs(), "Id", "Name"),
                                        "Select Secondary Cab Override"
                                    )
                                </label>
                                <input type="checkbox" asp-for="Defaults.ForceOverrideSecondaryCab"> Force override <br />
                                <input type="number" step="0.01" value="1.5" asp-for="Defaults.PositionSecondaryCab" /> Position<br />
                                <select asp-for="Defaults.AngleSecondaryCab">
                                    <option value="0">0 Degrees</option>
                                    <option value="45">45 Degrees</option>
                                </select> Angle
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div class="alert-warning" id="errorMsg">
            @Html.DisplayTextFor(m => m.ErrorMessage)
        </div>
        <div>
            <label for="file">Helix Preset to Update: </label>
            <input type="file" accept=".hlx" asp-for="Upload" />
            <input type="submit" onclick="clearError()" />
        </div>
    </form>
</div>
