@page
@using Helix.CabUpgrade.Utils
@using Helix.CabUpgrade.Utils.Enums
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please choose a .hlx preset file, then press Submit. Your updated preset will be downloaded.</p><br />
    <div class="alert-info">
        <p><b>Important! </b>Not all Legacy cabs have a corresponding cab in new Helix Firmware. <br />
            In the case of an error due to the cab no longer existing in Helix, please choose a Primary/Secondary target cab override using the drop downs to migrate to one of the new cab models.<br />
            You can force your legacy cab to migrate to a different new cab model by ticking the 'Force override' checkbox.</p>
    </div>
    <br /><br />
    <form method="post" enctype="multipart/form-data">
        <div>
            <table border="1px" width="100%">
                <tbody>
                    <tr>
                        <th style="border-right: 1px solid #333">Primary Cab<br />(Single Cab blocks/First cab in dual cab blocks)</th>
                        <th>Secondary Cab<br />(Amp&Cab blocks / Second cab in dual cab blocks)</th>
                        
                    </tr>
                    <tr>
                        <td style="border-right: 1px solid #333">
                            <div>
                                <label asp-for="SelectedPrimaryCab">
                                    @Html.DropDownListFor(
                                        m => m.SelectedPrimaryCab,
                                        new SelectList(IndexModel.NewCabRepository.GetNewCabs(), "Id", "Name"),
                                        "Select Primary Cab Override"
                                    )
                                </label>
                                <input type="checkbox" asp-for="ForceOverridePrimaryCab"> Force override</input>
                            </div>
                        </td>
                        <td>
                            <div>
                                <label asp-for="SelectedSecondaryCab">
                                    @Html.DropDownListFor(
                                        m => m.SelectedSecondaryCab,
                                        new SelectList(IndexModel.NewCabRepository.GetNewCabs(), "Id", "Name"),
                                        "Select Secondary Cab Override"
                                    )
                                </label>
                                <input type="checkbox" asp-for="ForceOverrideSecondaryCab"> Force override</input>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div>
            <label for="file">Helix Preset to Update: </label>
            <input type="file" accept=".hlx" asp-for="Upload" />
            <input type="submit" />
        </div>
    </form>
</div>
