@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please upload a preset file.</p>

    <form method="post" enctype="multipart/form-data">
        <label asp-for="PrimaryCabOverride"></label> <input type="Override target cab (primary)" asp-for="PrimaryCabOverride" /><br>
        <label asp-for="SecondaryCabOverride"></label> <input type="Override target cab (secondary or amp/cab)" asp-for="SecondaryCabOverride" /><br>
        <input type="file" asp-for="Upload" />
        <input type="submit" />
    </form>

</div>
