@page
@using Helix.CabUpgrade.Utils
@using Helix.CabUpgrade.Utils.Enums
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center" style="margin:0; position:absolute; top:50%; left:50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); ">
    <div>
        <h1 class="display-4">Welcome</h1>
    </div>
    <br />
    <br />
    <br />
    <div>
        <p>
            This site contains tools which can be used to perform automated tasks on files exported by Line 6 Helix.<br />
            Please use the navigation at the top of the page to browse through tools.
        </p><br />
    </div>
</div>
