@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Thanks for using Helix Cab Updater. By uploading a preset file you agree to share its content with the site author, for the purposes of assisting further development or troubleshooting. Any failed conversions will be logged and the originally uploaded file may be used to reproduce and resolve the issue.</p>
